<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <!--<link rel="stylesheet" type="text/css" href="style.css">-->
  </head>
  <body>
  <h2>Your Vacation Destination Is...</h2>
  
  
<!--"your final destination is"-->
  <%=@final_destination%>
  <%=@final_video%>
  
  
  
<!--"your type choice is"-->
 <!--<%=@type_choice%>-->
  <!--"your type place is"-->
  <!--<%=@my_distance%>-->
  <!--"your weather is"-->
  <!--<%=@type_season%>-->
  <!--"your amount per person is"-->
  <!--<%=@type_weather%>-->

   
   
   
   
  </body>
</html>