<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
   <img src="https://media.giphy.com/media/xT39D4khxTwmgGRyBa/giphy.gif" alt="Computer man" style="width:1270px;height:500px;" >
  <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: skyblue;}

ul.topnav li a.active {background-color: skyblue;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
</style>
</head>
<body>

<ul class="topnav">
  <li><a class="active" href="#Where2Go">Where2Go</a></li>
  <li><a href="/travel_hotspot">Travel Hotspot</a></li>
  <li class="right"><a href="/about">About</a></li>
</ul>

<div style="padding:0 16px;">
  </head>
  <body>
  <h2>Your Vacation Destination Is...</h2>
  
  
<!--"your final destination is"-->
  <%=@final_destination%>
  </br>
  <iframe width="420" height="315"
src="<%=@final_video%>">
</iframe>
 
  
  
  
<!--"your type choice is"-->
 <!--<%=@type_choice%>-->
  <!--"your type place is"-->
  <!--<%=@my_distance%>-->
  <!--"your weather is"-->
  <!--<%=@type_season%>-->
  <!--"your amount per person is"-->
  <!--<%=@type_weather%>-->

   
   
   
   
  </body>
</html>